<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link media="all" href="/styles/style.css" rel="stylesheet">

    <title>admin</title>
</head>
<body>
<h1 th:text="${info}"/>
<header th:insert="blocks/header :: header"></header>
<div class="frameform">
    <li><a th:href="@{/addstage}">добавить сцену</a></li>
    <li><a th:href="@{/addimage}">добавить картинку</a></li>
    <li><a th:href="@{/delete}">удалить</a></li>
</div>
<div class="frameform">
    <table class="content">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>question 1</th>
            <th>answer1</th>
            <th>question 2</th>
            <th>answer2</th>
            <th>question 2</th>
            <th>answer3</th>
        </tr>
        <tr th:each="stage:${stagelist}">
            <td th:text="${stage.id}"/>
            <td th:text="${stage.name}"/>
            <td th:text="${stage.q1+stage.q11}"/>
            <td th:text="${stage.a1}"/>
            <td th:text="${stage.q2+stage.q22}"/>
            <td th:text="${stage.a2}"/>
            <td th:text="${stage.q3+stage.q33}"/>
            <td th:text="${stage.a3}"/>
        </tr>
    </table>


    <table class="content">
        <tr>
            <th>id</th>
            <th>img</th>
            <th>loc</th>
        </tr>
        <tr th:each="img:${imagelist}">
            <td th:text="${img.id}"/>

            <td><img th:src="@{${'images/img'+img.id}}"
                     height="255" alt="lorem"/>
            </td>
            <td><img th:src="@{${'images/loc'+img.id}}"
                     height="255" alt="lorem"/>
            </td>
        </tr>
    </table>

    <table class="content">
        <tr>
            <th>id</th>
            <th>username</th>
            <th>name</th>
            <th>surename</th>
            <th>stage</th>
        </tr>
        <tr th:each="user:${userlist}">
            <td th:text="${user.id}"/>
            <td th:text="${user.username}"/>
            <td th:text="${user.name}"/>
            <td th:text="${user.surename}"/>
            <td th:if="${user.stage!=null}" th:text="${user.stage.id}"/>
        </tr>
    </table>

</div>

</body>
</html>