<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link media="all" href="/styles/style.css" rel="stylesheet">

    <title>admin</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<h1>Page for ADMIN!!</h1>
<li><a th:href="@{/addstage}">добавить сцену</a></li>
<header th:insert="blocks/addimage :: addimage"></header>
<div class="frameform">
    <table class="content">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>img</th>
        </tr>
        <tr th:each="stage:${stagelist}">
            <!--                <td>-->
            <!--                    <a th:href="@{/specprofile(specid=${specialist.id})}" th:text="${specialist.name}"/>-->
            <!--                </td>-->
            <td th:text="${stage.id}"/>
            <td th:text="${stage.name}"/>
<!--            <td> <img th:src="@{${'imagess/'+stage.id}}"-->
<!--                      height="255" alt="lorem"/>-->
<!--            </td>-->

        </tr>
    </table>


    <table class="content">
        <tr>
            <th>id</th>
            <th>img</th>
        </tr>
        <tr th:each="img:${imagelist}">
            <td th:text="${img.id}"/>

                        <td> <img th:src="@{${'images/'+img.id}}"
                                  height="255" alt="lorem"/>
                        </td>

        </tr>
    </table>

    <table class="content">
        <tr>
            <th>id</th>
            <th>username</th>
            <th>name</th>
            <th>surename</th>
            <th>stage</th>
        </tr>
        <tr th:each="user:${userlist}">
            <td th:text="${user.id}"/>

          <td th:text="${user.username}"/>
            <td th:text="${user.name}"/>
            <td th:text="${user.surename}"/>
            <td th:text="${user.stage}"/>

        </tr>
    </table>

</div>

</body>
</html>