<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link media="all" href="/styles/style.css" rel="stylesheet">
    <title>finish</title>
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<h1> Красавчик!! Ты победил в этой игре! Квест №1 "От ратуши" пройден.
Благодарю за участие в моем проекте. Буду рад услышать мнение о нем. Сайт будет дополняться и улучшаться, по идеи)).
    Как и обещано сертификат об участии! Хорошего дня! </h1>
<figure>
    <div class="content">
        <img th:src="@{styles/sert.jpg}"
             width="100%" alt="lorem"/>
    </div>


</figure>
<!--<form method="get" th:action="@{/quests}">-->
<!--    <button type="submit">ПРОБУЕМ ЕЩЕ</button>-->
<!--</form>-->
</body>
</html>