<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link media="all" href="/styles/style.css" rel="stylesheet">
    <title>finish</title>
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<h1> Красавчик!! Пилотные эпизоды пройдены. Остальные локации доделаются в ближайшее время) Пока все. Продолжение следует!!</h1>
<!--<form method="get" th:action="@{/quests}">-->
<!--    <button type="submit">ПРОБУЕМ ЕЩЕ</button>-->
<!--</form>-->
</body>
</html>