<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link media="all" href="/styles/style.css" rel="stylesheet">
    <!--    <link media="all" th:ref="@{/style.css}" rel="stylesheet" type="text/css">-->
    <title>home</title>
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<h1 th:text="${info}"/>


<!--<div class="content" sec:authorize="isAuthenticated()">-->
<!--    <h1>Твой прогресс:</h1>-->
<!--    <figure>-->
<!--        <img  th:src="@{/styles/map.jpg}"-->
<!--              width="100%" alt="lorem"/>-->

<!--    </figure>-->

<!--    <figure>-->
<!--    <img  th:src="@{/styles/7.jpg}"-->
<!--         height="700" alt="lorem"/>-->
<!--    </figure>-->
<!--</div>-->



    <div class="content">

        <h1>Добрый день друг. Приветствую тебя на городском квесте FIRJ. Суть игры проста-
            дается картинка, обозначающая локацию и три вопросаб ответы на которые прячутся в данной
            местности. Успешно ответив на вопросы получаешь новую локацию и вопросы, и так далее.
            Всего 10 локаций. Пройдя все ты будешь победителям игры Firj, узнаешь тайны
            города и получишь сертификат о прохождении квеста. Для того чтобы играть нужно
            зарегистрироваться и зайти в аккаунт. Удачи!

        </h1>
    </div>

</body>
</html>