<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link media="all" href="/styles/style.css" rel="stylesheet">
    <title>home</title>
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<div class="content">
    <h1>Добрый день друг! Приветствую тебя на интеллектуально-развлекательной игре FIRJ.
        Игра состоит из отдельных квестов (пока готов только один - "От ратуши", готовится-"От Коласа". "От Ратуши" означает
        что он начинается и заканчивается в районе городской ратуши и расчитан примерно на 3 часа.)
        В каждом квесте дается картинка, обозначающая локацию и три вопроса ответы на которые прячутся в данной
        местности. Успешно ответив на вопросы получаешь новую локацию и вопросы, и так далее.
        Всего 10 локаций. Пройдя все, ты будешь победителем квеста Firj,
        узнаешь тайны города и получишь сертификат о прохождении квеста. Для того чтобы играть нужно
        зарегистрироваться и зайти в аккаунт. Удачи!
    </h1>
</div>
</body>
</html>