<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/styles/style.css" rel="stylesheet">
    <title>quests</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<figure>
    <img  th:src="@{${'images/img/'+stage.id}}"
          width="100%" alt="lorem"/>


<form th:action="@{/quests}" method="post">
    <div class="content">
        <p th:text="${stage.q1}"/>
        <p th:text="${stage.q11}"/>
        <input type="text" name="answer1" placeholder="введите ответ" onchange="this.value=this.value.toLowerCase();"   autofocus="true"/>
    </div>
    <div class="content">
        <p th:text="${stage.q2}"/>
        <p th:text="${stage.q22}"/>
        <input type="text" name="answer2" placeholder="введите ответ" onchange="this.value=this.value.toLowerCase();"   autofocus="true"/>
    </div>
    <div class="content">
        <p th:text="${stage.q3}"/>
        <p th:text="${stage.q33}"/>
        <input type="text" name="answer3" placeholder="введите ответ" onchange="this.value=this.value.toLowerCase();"   autofocus="true"/>
    </div>
    <div class="content">
        <button type="submit">ОТВЕТИТЬ</button>
    </div>
</form>
</figure>
</body>
</html>