<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link media="all" href="/styles/style.css" rel="stylesheet">
    <title>Registration</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="frame">
<form th:action="@{/registration}" method="post">

    <label>USER NAME</label>
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <button type="submit" >регистрация</button>
</form>
</div>
</body>
</html>