<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link media="all" href="/styles/style.css" rel="stylesheet">
    <!--    <link media="all" th:ref="@{/style.css}" rel="stylesheet" type="text/css">-->
    <title>home</title>
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<div class="content">
    <h1>Ты красавчик, эта локация пройдена!!</h1>
    <form method="get" th:action="@{/quests}">
        <button type="submit">ДВИГАЕМСЯ ДАЛЬШЕ</button>
    </form>
</div>
</body>
</html>